[Unit]
Description=Discord Bot Robey
After=network.target

[Service]
WorkingDirectory=/home/python/robey

User=python
Group=python

Restart=always

ExecStart=/usr/bin/screen -DmS discordBotRobey /home/python/robey/.venv/bin/python TwitchPlays_TEMPLATE.py

[Install]
WantedBy=multi-user.target
