[Unit]
Description=Minecraft Server via Tmux: %i
After=network.target

[Service]
WorkingDirectory=/home/minecraft/mcServers/%i

User=minecraft
Group=minecraft

Restart=on-failure
KillSignal=SIGCONT
Type=forking

ExecStart=/usr/bin/tmux -L "mc-%i" new-session -s "mc-%i" -d '/home/minecraft/mcServers/%i/start.sh'

ExecStop=/usr/bin/tmux -L "mc-%i" send-keys -t "mc-%i":0.0 'say SERVER SHUTTING DOWN IN 5 SECONDS...' C-m
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/tmux -L "mc-%i" send-keys -t "mc-%i":0.0 'stop' C-m

[Install]
WantedBy=multi-user.target
